<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>RailwayEnquiry</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>
		com.renintech.railway.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrainList</display-name>
		<servlet-name>TrainList</servlet-name>
		<servlet-class>
		com.renintech.railway.TrainList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketStatus</display-name>
		<servlet-name>TicketStatus</servlet-name>
		<servlet-class>
		com.renintech.railway.TicketStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketCancellation</display-name>
		<servlet-name>TicketCancellation</servlet-name>
		<servlet-class>
		com.renintech.railway.TicketCancellation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrainPlatform</display-name>
		<servlet-name>TrainPlatform</servlet-name>
		<servlet-class>
		com.renintech.railway.TrainPlatform</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrainDetails</display-name>
		<servlet-name>TrainDetails</servlet-name>
		<servlet-class>
		com.renintech.railway.TrainDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RouteDetails</display-name>
		<servlet-name>RouteDetails</servlet-name>
		<servlet-class>
		com.renintech.railway.RouteDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Fare</display-name>
		<servlet-name>Fare</servlet-name>
		<servlet-class>
		com.renintech.railway.Fare</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RouteFare</display-name>
		<servlet-name>RouteFare</servlet-name>
		<servlet-class>
		com.renintech.railway.RouteFare</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrainNames</display-name>
		<servlet-name>TrainNames</servlet-name>
		<servlet-class>
		com.renintech.railway.TrainNames</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Timings</display-name>
		<servlet-name>Timings</servlet-name>
		<servlet-class>
		com.renintech.railway.Timings</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrainNamesAndDay</display-name>
		<servlet-name>TrainNamesAndDay</servlet-name>
		<servlet-class>
		com.renintech.railway.TrainNamesAndDay</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateTrain</display-name>
		<servlet-name>UpdateTrain</servlet-name>
		<servlet-class>
		com.renintech.railway.UpdateTrain</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Time</display-name>
		<servlet-name>Time</servlet-name>
		<servlet-class>
		com.renintech.railway.Time</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Time1</display-name>
		<servlet-name>Time1</servlet-name>
		<servlet-class>
		com.renintech.railway.Time1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TimeinMilli</display-name>
		<servlet-name>TimeinMilli</servlet-name>
		<servlet-class>
		com.renintech.railway.TimeinMilli</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidateUser</display-name>
		<servlet-name>ValidateUser</servlet-name>
		<servlet-class>
		com.renintech.railway.ValidateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookTicket</display-name>
		<servlet-name>BookTicket</servlet-name>
		<servlet-class>
		com.renintech.railway.BookTicket</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketBooked</display-name>
		<servlet-name>TicketBooked</servlet-name>
		<servlet-class>
		com.renintech.railway.TicketBooked</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketBooking1</display-name>
		<servlet-name>TicketBooking1</servlet-name>
		<servlet-class>
		com.renintech.railway.TicketBooking1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GivePnr</display-name>
		<servlet-name>GivePnr</servlet-name>
		<servlet-class>
		com.renintech.railway.GivePnr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainList</servlet-name>
		<url-pattern>/TrainList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketStatus</servlet-name>
		<url-pattern>/TicketStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketCancellation</servlet-name>
		<url-pattern>/TicketCancellation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainPlatform</servlet-name>
		<url-pattern>/TrainPlatform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainDetails</servlet-name>
		<url-pattern>/TrainDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RouteDetails</servlet-name>
		<url-pattern>/RouteDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fare</servlet-name>
		<url-pattern>/Fare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RouteFare</servlet-name>
		<url-pattern>/RouteFare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainNames</servlet-name>
		<url-pattern>/TrainNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Timings</servlet-name>
		<url-pattern>/Timings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainNamesAndDay</servlet-name>
		<url-pattern>/TrainNamesAndDay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTrain</servlet-name>
		<url-pattern>/UpdateTrain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Time</servlet-name>
		<url-pattern>/Time</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Time1</servlet-name>
		<url-pattern>/Time1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeinMilli</servlet-name>
		<url-pattern>/TimeinMilli</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateUser</servlet-name>
		<url-pattern>/ValidateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTicket</servlet-name>
		<url-pattern>/BookTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketBooked</servlet-name>
		<url-pattern>/TicketBooked</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketBooking1</servlet-name>
		<url-pattern>/TicketBooking1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GivePnr</servlet-name>
		<url-pattern>/GivePnr</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
